ion-content {
  background-color: lightgray !important;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 200%;
}

ion-card {
  box-shadow: 0 0 10px gray;
}

ion-card-subtitle {
  text-align: left;
}

svg {
  width: 14px;
}

.horizontal-line {
  width: 90%;
  height: 0px;
  margin-top: 10px;
  border: 1px solid lightgray;
}

.overdue ion-card-subtitle,
.overdue .circle {
  color: red;
  fill: red;
}

.pending ion-card-subtitle,
.pending .circle {
  color: yellow;
  fill: yellow;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;
}